html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}
body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}
h1 {
  color: #377ba8;
  margin: 0 1rem 1rem;
}
a {
  color: #377ba8;
}
hr {
  border: none;
  border-top: 1px solid lightgray;
}
nav {
  background: lightgray;
  display: flex;
  align-items: center;
}
nav h1 {
  flex: auto;
  margin: 0;
  padding: 15px;
}
nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li a,
nav ul li span,
header .action {
  display: block;
  padding: 0.5rem;
}
.content {
  padding: 0 1rem 1rem;
}
.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}
.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}
.content:last-child {
  margin-bottom: 0;
}
.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}
.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}
.content input,
.content textarea {
  margin-bottom: 1em;
  min-height: 3em;
}
.content textarea {
  min-height: 12em;
  resize: vertical;
}
button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 24px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
input[type="text"] {
  border-radius: 10px;
}
.intl-tel-input {
  margin-bottom: 15px;
}
table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
th {
  text-align: left;
}
form ul {
  list-style-type: none;
}
#channel {
  margin: 0;
  padding: 0;
}
button[id="send-sms"] {
  background-color: gray;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
.auth-ot, .auth-sms {
  display: none;
}

select {
  /* background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0; */
  height: 3em;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2em;
}