{% extends 'base.html' %} 
{% block head %}
{{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/intlTelInput.css') }}"
/>
{% endblock %} 
{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %} 
{% block content %}
<form method="POST">
  {{ form.hidden_tag() }}

  {% from "_formhelpers.html" import render_field %}

  {{ render_field(form.email) }}
  {{ render_field(form.password) }}
  {{ render_field(form.phone_number, id="phone") }}
  {{ render_field(form.channel) }}

  <button name="form-submit" type="submit">Sign Up</button>
</form>
<script src="{{ url_for('static',filename='js/intlTelInput.js') }}"></script>
<script>
  var input = document.querySelector("#phone");
  window.intlTelInput(input, {
    hiddenInput: "full_phone",
    preferredCountries: ["us", "gb", "co", "de"],
    utilsScript: "{{ url_for('static',filename='js/utils.js') }}"
  });
</script>
{% endblock %}
